/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '/../assets/css/settings';

.wp-block-ridewrap-block-post-cta-sticky:not([data-type='ridewrap-block/post-cta-sticky']) {
	background-color: $color-blue-medium;
	display: flex;
	gap: $gutter-width-single;
	position: fixed;
	left: 0;
	bottom: $gutter-width-single;
	width: rem(220px);
	padding: $gutter-width-single rem(20px);
	padding-top: rem(3px);
	padding-bottom: rem(7px);
	transform: translateX(-100%);
	transition: 0.5s ease-in-out;
	opacity: 0;
	border-top-right-radius: rem(4px);
	border-bottom-right-radius: rem(4px);
	z-index: 1;

	@media (min-width: $screen-lg) {
		width: rem(275px);
	}

	&.in_view {
		transform: translateX(0%);
		transition: 0.5s ease-in-out;
		opacity: 1;
	}

	.c-post-cta-img {
		position: relative;
		margin-top: -rem(6px);

		&::before {
			content: url('assets/square-warped.svg');
			position: absolute;
			height: 100%;
			z-index: 0;
			width: 100%;
			top: rem(20px);
			left: rem(4px);
		}
	}

	img {
		position: relative;
	}
}

.c-post-cta-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	.h5-style {
		color: $color-black;
		font-size: 16px;

		@media (min-width: $screen-lg) {
			font-size: 20px;
		}
	}

	a {
		background: $color-black;
		border-radius: rem(3px);
		color: $color-white;
		padding: rem(4px) rem(7px);
		position: relative;
		font-size: 15px;
		text-decoration: none;

		&.h4-style {
			color: $color-white;
			margin-bottom: $gutter-width-single;
			font-size: 10px;
			padding: rem(8px) rem(9px);

			@media (min-width: $screen-lg) {
				font-size: 14px;
			}
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: $gutter-width-single;
			width: rem(6px);
			height: rem(10px);
			background-image: url('assets/icon-caret-left.svg');
			background-repeat: no-repeat;
			left: auto;
			right: rem(6px);
			transform: rotate(180deg);
			top: 26%;

			@media (min-width: $screen-lg) {
				height: rem(13px);
			}
		}
	}
}

// Editor styles.
.editor-styles-wrapper {
	div[data-type='ridewrap-block/post-cta-sticky'] {
		background-color: #d5d5d5;
		margin-bottom: rem(65px);
		padding: $gutter-width-single;

		.container {
			background-color: $color-blue-medium;
			width: 70%;
			display: flex;
			margin: auto;
			padding: rem(10px);

			> div {
				flex: 1;
			}

			> div:last-of-type {
				flex: 2;
			}
		}

		.components-base-control {
			padding: rem(10px);
			background: $color-black;
			color: $color-white;
			border-bottom: 1px solid #2b2828;
		}

		.components-base-control__field {
			margin: 0;
		}

		.components-input-control__container {
			margin-top: rem(6px);
			width: rem(85px);
		}

		a {
			display: block;
			font-weight: 500;
			margin-top: rem(10px);
			position: relative;
			width: 100%;
			background: $color-black;
			color: $color-blue-dark;
			font-size: 14px;
			padding: rem(6px);
			outline: none;
			-webkit-backface-visibility: hidden;
			border: none;
		}

		h3 {
			color: $color-black;
			font-style: italic;
			padding: rem(10px);
		}

		p {
			color: $color-black;
			padding: rem(10px);
		}

		h4 {
			background-color: $color-black;
			color: $color-white;
			margin: 0;
			padding: $gutter-width-single rem(10px);
		}

		figure {
			margin: 0 0 0;
			padding: rem(10px) rem(10px);
			text-align: center;
		}

		img {
			width: 100%;
			height: 100%;
		}

		figcaption {
			display: none;
		}
	}
}
