/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '/../assets/css/settings';

.wp-block-ridewrap-block-panel-slider:not([data-type='ridewrap-block/panel-slider']) {
	.no-splide {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: $gutter-width-single;

		@media (min-width: $screen-xl) {
			justify-content: flex-start;
		}

		.splide__slide {
			@media (min-width: $screen-md) {
				flex: 1;
				max-width: fit-content;
			}

			@media (min-width: $screen-xl) {
				max-width: rem(400px);
			}

			&.one-half,
			&.two-third {	
				@media (min-width: $screen-lg) {
					flex: 2;
					max-width: 100%;
				}
				
				@media (min-width: $screen-xl) {
					flex: 2;
					max-width: rem(880px);
				}
			}
		}
	}

	.splide__slide {
		@media (min-width: $screen-lg) {
			padding: 5px;
		}
	}

	.splide__list {
		display: flex !important;
		justify-content: center;
		gap: $gutter-width-single;
		flex-wrap: wrap;

		@media (min-width: $screen-xl) {
			justify-content: unset;
			gap: unset;
			flex-wrap: unset;
		}
	}
}

.one-third {
	.wp-block-ridewrap-block-panel-dynamic:not([data-type='ridewrap-block/panel-dynamic']) {
		display: inline-block;
		width: 100%;
		position: relative;
		transition: 0.25s ease-in-out;
		max-width: rem(290px);

		@media (min-width: $screen-lg) {
			max-width: rem(330px);
		}

		@media (min-width: $screen-xl) {
			margin-bottom: $gutter-width-double;
			max-width: 100%;
		}

		a {
			display: block;
			-webkit-backface-visibility: hidden;
			text-decoration: none;

			&:before {
				content: '';
				display: block;
				height: calc(100% - 56px);
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				transition: 0.25s ease-in-out;

				@media (min-width: $screen-lg) {
					height: calc(100% - 62px);
				}
			}
		}

		.block-internal {
			position: absolute;
			top: 0;
			left: 0;
			padding: $gutter-width-single;
			width: 100%;

			@media (min-width: $screen-lg) {
				padding: $gutter-width-double;
			}

			@media (min-width: $screen-xl) {
				padding: rem(20px) $gutter-width-single;
			}

			@media (min-width: 1500px) {
				padding: $gutter-width-double;
			}
		}

		.h3-style {
			background: none;
			color: $color-black;
			display: inline-block;
			margin-bottom: 0;
			padding-bottom: 0;
			padding-top: $gutter-width-single;
			position: relative;
			width: 100%;
			max-width: 100%;

			@media (min-width: $screen-md) {
				font-size: 25px;
			}

			@media (min-width: $screen-lg) {
				font-size: 40px;
				padding-top: 0;
				text-align: left;
			}

			@media (min-width: $screen-xl) {
				font-size: 25px;
				margin-bottom: $gutter-width-single;
			}

			@media (min-width: 1400px) {
				font-size: 36px;
				margin-bottom: 0;
			}

			@media (min-width: 1600px) {
				font-size: 40px;
			}
		}

		p {
			color: $color-black;
			display: none;
			font-style: italic;
			font-size: 14px;
			width: 100%;
			height: rem(100px);
			padding-top: $gutter-width-single;

			@media (min-width: $screen-lg) {
				display: block;
				text-align: left;
			}

			@media (min-width: 1600px) {
				font-size: 16px;
			}
		}

		.h4-style {
			background-color: $color-black;
			color: $color-white;
			height: rem(56px);
			margin-bottom: 0;
			padding: $gutter-width-single $gutter-width-double;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			-webkit-backface-visibility: hidden;
			box-shadow: -0.25px 0px 0px 0px $color-black;
			pointer-events: none;

			@media (min-width: $screen-lg) {
				height: rem(62px);
			}

			&:after {
				content: '';
				position: absolute;
				right: $gutter-width-single;
				background-image: url('assets/icon-caret-left.svg');
				background-repeat: no-repeat;
				background-repeat: no-repeat;
				display: inline-block;
				height: rem(20px);
				width: rem(20px);
				transform: rotate(180deg);
				top: rem(20px);
			}
		}

		figure {
			margin: 0 0 0;
			text-align: center;
			overflow: hidden;
			display: flex;
			align-items: flex-end;
			// height: rem(390px);

			@media (min-width: $screen-lg) {
				height: auto;
				display: block;
			}
		}

		&:hover {
			@media (min-width: $screen-lg) {
				transform: scale(1.02);
			}

			a:before {
				background-color: rgba(255, 255, 255, 0.3);
				transition: 0.25s ease-in-out;
			}

			.h4-style,
			.add_to_cart_button {
				&:after {
					animation: arrow-bounce 1s 1;
				}
			}
		}

		.progress-circle-wrap {
			@media (min-width: $screen-lg) {
				margin: rem(-28px) auto;
			}

			@media (min-width: 1700px) {
				margin: 0 auto;
				transform: scale(0.575);
			}

			&.progress-circle-left {
				margin-left: 0 auto;

				@media (min-width: $screen-xl) {
					margin-left: rem(-40px);
				}
			}
		}
	}
}

.two-third,
.one-half {
	.wp-block-ridewrap-block-panel-dynamic:not([data-type='ridewrap-block/panel-dynamic']) {
		display: inline-block;
		width: 100%;
		position: relative;
		transition: 0.25s ease-in-out;
		max-width: rem(290px);
	
		@media (min-width: $screen-lg) {
			max-width: 100%;
		}
	
		@media (min-width: $screen-xl) {
			margin-bottom: $gutter-width-double;
			max-width: rem(880px);
		}
	
		a {
			display: block;
			-webkit-backface-visibility: hidden;
			text-decoration: none;
	
			&:before {
				content: '';
				display: block;
				height: calc(100% - 56px);
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				transition: 0.25s ease-in-out;
	
				@media (min-width: $screen-lg) {
					height: calc(100% - 62px);
				}
			}
		}
	
		.block-internal {
			position: absolute;
			top: 0;
			left: 0;
			padding: $gutter-width-single;
			width: 100%;
	
			@media (min-width: $screen-lg) {
				padding: $gutter-width-double;
				width: 100%;
				max-width: rem(585px);
			}
	
			@media (min-width: $screen-xl) {
				padding: rem(20px) $gutter-width-single;
			}
	
			@media (min-width: 1500px) {
				padding: $gutter-width-double;
			}
		}
	
		.h3-style {
			background: none;
			color: $color-black;
			display: inline-block;
			margin-bottom: 0;
			padding-bottom: 0;
			padding-top: $gutter-width-single;
			position: relative;
			width: 100%;
			max-width: 100%;
	
			@media (min-width: $screen-md) {
				font-size: 25px;
			}
	
			@media (min-width: $screen-lg) {
				font-size: 40px;
				padding-top: 0;
				text-align: left;
			}
	
			@media (min-width: $screen-xl) {
				font-size: 25px;
			}
	
			@media (min-width: 1400px) {
				font-size: 36px;
			}
	
			@media (min-width: 1600px) {
				font-size: 40px;
			}
		}
	
		p {
			color: $color-black;
			display: none;
			font-style: italic;
			font-size: 14px;
			width: 100%;
			padding-top: $gutter-width-single;
	
			@media (min-width: $screen-lg) {
				display: block;
				text-align: left;
			}
	
			@media (min-width: 1600px) {
				font-size: 16px;
			}
	
			@media (min-width: 1700px) {
				display: block;
				height: auto;
				font-size: 16px;
			}
		}
	
		.h4-style {
			background-color: $color-black;
			color: $color-white;
			height: rem(56px);
			margin-bottom: 0;
			padding: $gutter-width-single $gutter-width-double;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			-webkit-backface-visibility: hidden;
			box-shadow: -0.25px 0px 0px 0px $color-black;
	
			@media (min-width: $screen-lg) {
				height: rem(62px);
			}
	
			&:after {
				content: '';
				position: absolute;
				right: $gutter-width-single;
				background-image: url('assets/icon-caret-left.svg');
				background-repeat: no-repeat;
				background-repeat: no-repeat;
				display: inline-block;
				height: rem(20px);
				width: rem(20px);
				transform: rotate(180deg);
				top: rem(20px);
			}
		}
	
		figure {
			margin: 0 0 0;
			text-align: center;
			height: rem(390px);
			overflow: hidden;
			display: flex;
			align-items: flex-end;
	
			@media (min-width: $screen-lg) {
				height: auto;
				display: block;
			}
	
			img {
				object-fit: cover;
				height: 110%;
	
				@media (min-width: $screen-lg) {
					width: 100%;
					max-width: 100%;
					margin: 0;
				}
			}
		}
	
		&:hover {
			@media (min-width: $screen-lg) {
				transform: scale(1.02);
			}
	
			a:before {
				background-color: rgba(255, 255, 255, 0.3);
				transition: 0.25s ease-in-out;
			}
	
			.h4-style,
			.add_to_cart_button {
				&:after {
					animation: arrow-bounce 1s 1;
				}
			}
		}
	
		.progress-circle-wrap {
			@media (min-width: $screen-lg) {
				margin-top: -$gutter-width-single;
			}
	
			@media (min-width: 1700px) {
				transform: scale(0.575);
			}
		}
	}
}

.progress-circle-panel {
	.wp-block-ridewrap-block-panel-dynamic:not([data-type='ridewrap-block/panel-dynamic']) {
		figure {
			height: auto;
			max-height: rem(510px);

			@media (min-width: $screen-lg) {
				max-height: 100%;
			}
		}

		p {
			@media (min-width: $screen-lg) {
				display: block;
			}

			@media (min-width: $screen-xl) {
				display: none;
			}

			@media (min-width: 1400px) {
				display: block;
			}
		}
	}
}

// Splide slide
.splide__slide {
	text-align: center;

	@media (min-width: $screen-lg) {
		text-align: unset;
	}
}

// Editor styles.
.editor-styles-wrapper {
	div[data-type='ridewrap-block/panel-dynamic'] {
		background-color: $color-blue-medium;
		height: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: rem(65px);
		margin-top: rem(10px);
		vertical-align: top;
		flex: 1 0 30%;
		max-width: 35%;

		.panel-size {
			.components-input-control__container {
				width: 100%;
			}
		}

		.components-base-control {
			padding: rem(10px);
			background: $color-black;
			color: $color-white;
			border-bottom: 1px solid #2b2828;
		}

		.components-base-control__field {
			margin: 0;
		}

		.components-input-control__container {
			margin-top: rem(6px);
			width: rem(85px);
		}

		a {
			display: block;
			font-weight: 500;
			margin-top: rem(10px);
			position: absolute;
			width: 100%;
			background: $color-black;
			color: $color-blue-dark;
			font-size: 14px;
			padding: rem(6px);
			outline: none;
			-webkit-backface-visibility: hidden;
			border: none;
		}

		h3 {
			color: $color-black;
			font-style: italic;
			padding: rem(10px);
		}

		p {
			color: $color-black;
			padding: rem(10px);
		}

		h4 {
			background-color: $color-black;
			color: $color-white;
			margin: 0;
			padding: $gutter-width-single rem(10px);
		}

		figure {
			margin: 0 0 0;
			padding: rem(10px) rem(10px);
			text-align: center;
		}

		img {
			width: 100%;
			height: 100%;
		}

		figcaption {
			display: none;
		}

		.components-placeholder__label {
			display: none;
		}

		.editor-id-panel {
			background: $color-black;
			padding: rem(10px);

			h5 {
				color: $color-white;
				margin: 0;
				padding-bottom: rem(5px);
			}

			p {
				color: $color-white;
				line-height: 135%;
				padding: 0;
				margin: 0;
			}

			.rich-text {
				background: $color-white;
				color: $color-black;
				margin-top: rem(10px);
				padding: rem(5px);
			}
		}
	}
}
