/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import '/../assets/css/settings';

.wp-block-ridewrap-block-subheader:not([data-type='ridewrap-block/subheader']) {
	background-color: $color-orange-medium;
	color: $color-black;
	padding: $gutter-width-double $gutter-width-single;
	position: relative;

	@media (min-width: $screen-xl) {
		padding: $gutter-width-double rem(60px);
	}

	.col:first-of-type {
		@media (min-width: $screen-xl) {
			width: 33%;
		}
	}

	.col:last-of-type {
		display: flex;
		align-items: center;

		@media (min-width: $screen-xl) {
			width: 66%;
		}
	}

	.h3-style {
		margin-bottom: $gutter-width-single;
		padding-right: $gutter-width-single;

		@media (min-width: $screen-xl) {
			margin-bottom: 0;
		}
	}

	p {
		color: $color-black;
		line-height: rem(20px);
		margin-bottom: 0;
	}
}

// Editor styles.
div[data-type='ridewrap-block/subheader'] {
	background-color: $color-orange-medium;
	padding: $gutter-width-single;

	h3 {
		color: $color-black;
		font-style: italic;
		margin: rem(5px) 0 rem(10px) 0;
		text-transform: uppercase;
	}

	p {
		color: $color-black;
		font-size: rem(14px);
	}
}
